/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";


body {
    background-color: lightgray;
}
// nav section
nav {
    background-color: white;
    height: 100px;
}



.logosize {
    width: 70px;
    height: 70px;
}

.logosize2 {
    width: 100px;
    height: 100px;
    
}

.dropdowncolor {
    background-color: white;
}

// main





footer {
    background-color: lightblue;
    height: 200px;
}

.footertext {
    font-size: small;
}

.footertextcopy {
    font-size: xx-small;
}

// mobile
@media all and (max-width: 480px){
    body {
        background-color: blue;
    }
    .thesearchbar {
        display: none;
    }
// .subnewsletter {

// }
}

@media all and (min-width: 481px) and (max-width: 768px){
    body {
        background-color: red;
    }
    .thesearchbar {
        display: none;
    }
}

@media all and (min-width: 769px) and (max-width: 1024px){
    body {
        background-color: yellow;
    }
    .thesearchbar {
        display: none;
    }
}