/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";


*  
    { 
    margin: -15; 
    padding: 0; 
    border: 0; 
}

html, body { overflow-x: hidden; }

body {
    background-color: none;
    margin: 0; 
    padding: 0; 
    border: 0; 
}
// ////////////////////////////////////////////////////////////////////////////////////////////
// footer under control

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }

// //////////////////////////////////////////////////////////////////////////////////////////////////




// nav section
nav {
    // background-color: white;
    height: 100px;
}



.navbarbackgroundgradient{
    background-color: dark;
}

.navcolorwhite {
    color: blue;
}

.logosize {
    width: 130px;
    height: 130px;
}

.logosizefooter {
    width: 80px;
    height: 80px;
    
}

.floatright {
    float: right;
}

.bgroundededges {
    border-radius: 25px;
  background: white;
  padding: 20px;
  width: 210px;
  height: 80px;
}

.dropdowncolor {
    background-color: white;
}

.dropdownmenu {
    min-height: 500px;
}

.dropdownmenumarginright {
    margin-right: 20%;
}

//jumbotron

// .jumbotronbackground{
//  background-image: url(../images/Colors2image.PNG);
//  background-color: none;
// //  opacity: 0.6;
//  background-size: cover;
//  height: 450px;
 
// }

// jumbotron end

//jumbotron 2 start

.jumbotron {
    position: relative;
    overflow: hidden;
    background-color:black;
    height: 450px;
  }
  .jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    opacity:0.5;
  }
  .jumbotron .container {
    z-index: 3;
    position: relative;
  }
//jumobtron 2 end

// main





footer {
    background-color: blue;
    height: 240px;
}

.footer75 {
    height: 120px;
}

.footercolumnheight {
    height: 240px;
}

.removemarginspadding{
    margin:0 !important;
    padding:0 !important;
}




.footertext {
    font-size: small;
}

.footertextcopy {
    font-size: xx-small;
}

.linklogosize{
    width: 20px;
    height: 20px;
}

// mobile
@media all and (max-width: 480px){
    *{
        padding: 0;
        margin: 0;
        border: 0;
    }
    
    
    // .thesearchbar {
    //     display: none;
    // }
     
    
}

@media all and (min-width: 481px) and (max-width: 768px){
    *{
        padding: 0;
        margin: 0;
        border: 0;
    }
    
    body {
        background-color: none;
        background-size: cover;
    }
    // .thesearchbar {
    //     display: none;
    // }
}

@media all and (min-width: 769px) and (max-width: 1024px){
    // *{
    //     padding: 0;
    //     margin: 0;
    //     border: 0;
    // }


    body {
        background-color: none;
    }
    // .thesearchbar {
    //     display: none;
    // }
}